.containercardsgrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Define el ancho de las columnas */
    gap: 20px; /* Espacio entre las tarjetas */
    padding-top: 2%;
    padding-bottom: 2%;
    border-bottom: 5px solid  rgb(196, 180, 211);
}
