.container{
    background-image: url('/imagenes/gojo2.png');
    background-position: center;
    background-size: cover;
    height: 900px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid  rgb(196, 180, 211);
}

.container h3 {
    font-size: 5em; 
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Desplazamiento horizontal, desplazamiento vertical, desenfoque, color */
}

.container p {
    font-size: 30px; 
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Desplazamiento horizontal, desplazamiento vertical, desenfoque, color */
}

.container p:hover{
    cursor: pointer;
    text-decoration: underline;
}
